html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

nav{
    width: 100%;
    height: 120px;
}

.logo{
    width: 170px;
    margin-left: 60px;
    margin-right: 20px;
    float: left;
    margin-top: 36px;
    color: white;
}

.Limg{
    width: 30px;
    height: 30px;
    float: left;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 10px;
}

.nav-btns{
    float: left;
    width: 850px;
    height: 60px;
    padding-top: 40px;

}

.nav-btns ul{
    list-style: none;
}

.nav-btns li{
    float: left;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    color: white;
    margin-right: 40px;
}

.nav-btns li:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

.active{
    font-weight: bolder;
}

.search-bar{
    padding-right: 50px;
    padding-top: 40px;
    float: right;

}

.search-btn{
    cursor: pointer;
    width: 255px;
    height: 40px;
    float: left;
    border: 2px solid white;
    border-radius: 40px;
    padding-left: 20px;
    padding-top: 5px;
    color: white;
}

.s-icon{
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 15px;
    margin-top: -2px;
}


header{
    width: 100%;
    height: 780px;
    background-color: lightgray;
    margin-bottom: 500px;
    background-image: url(../album/Background.jpeg);
    background-position: center;
    background-size: cover;
}

.col-6{
    width: 40%;
    height: 500px;
    margin-top: 10%;
    margin-left: 122px;
    padding-top: 100px;
    font-size: 60px;
    color: white;
}

.hdr-btns{
    float: left;
    width: 800px;
    height: 70px;
    padding-top: 70px;
}

.hdr-btns ul{
    list-style: none;
}

.hdr-btn1{
    width: 217px;
    height: 62px;
    border: 4px solid black;
    border-radius: 62px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    margin-right: 40px;
    margin-left: 0;
}

.hdr-btn2{
    width: 217px;
    height: 62px;
    border: 4px solid black;
    border-radius: 62px;
    color: black;
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    font-weight: bold;
    margin-right: 40px;
    float: left;
}

.hdr-btn3{
    width: 62px;
    height: 62px;
    border-radius: 62px;
    float: left;
    background-image: url(../assets/heart_icon.svg);
    background-position: center;
    background-size: cover;
}

.hdr-btn1:hover{
    cursor: pointer;
    background-color: lightgray; 
    color: black;
}

.hdr-btn2:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.hdr-btn3:hover{
    cursor: pointer;
    background-color: black;
}

.col-6{
    margin: 0 auto;
    margin-left: 122px;
}

.left{
    width: 40%;
    height: 390px;
    margin-top: 100px;
    float: left;
    padding-top: 0;
}

.left2{
    width: 40%;
    height: 390px;
    margin-left: 122px;
    margin-top: 60px;
    float: left;
    padding-top: 50px;
    padding-left: 0;
    font-size: 15px;
    color: white;
}

.right{
    width: 45%;
    height: 560px;
    background-color: rgb(231, 231, 231);
    float: left;
    margin-top: 100px;
    padding-top: 20px;
    font-size: 15px;
    margin-right: 122px;
    margin-left: -70px;
    padding-left: 100px;
    padding-right: 80px;
    opacity: 0.9;
    color: black;
}

.right2{
    width: 40%;
    height: 560px;
    background-color: rgb(0, 2, 30);
    float: left;
    font-size: 15px;
    margin-top: 60px;
    margin-right: 122px;
    margin-left: -50px;
    padding-top: 10px;
}

.fa-btns{
    width: 200px;
    height: 50px;
    float: right;
    padding-top: 160px;
    margin-right: -40px;
}

.fa-btns ul{
    list-style: none;
}

.fa-btn1{
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
    font-weight: bolder;
    float: left;
    margin-right: 20px;
    background-image: url(../assets/left_arrow_icon.svg);
    background-position: center;
    background-size: cover;
}

.fa-btn2{
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50px;
    padding-top: 5px;
    font-weight: bolder;
    float: left;
    background-image: url(../assets/right_arrow_icon.svg);
    background-position: center;
    background-size: cover;
}

.fa-btn1:hover{
    cursor: pointer;
    background-color: white;
    
}

.fa-btn2:hover{
    cursor: pointer;
    background-color: white;
}


.col-12{
    width: 90%;
    height: 140px;
    padding-top: 50px;
    margin-left: 122px;
    font-size: 30px;
    color: white;
}

.rrc{
    margin-bottom: 10px;
}

.col-3{
    width: 277px;
    height: 277px;
    background-color: lightgray;
    float: left;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ERL{
    margin-left: 122px !important;
}

.ERR{
    margin-right: 122px !important;
}

.A1{
    background-image: url(../album/12.jpeg);
    background-position: center;
    background-size: cover;
}

.A2{
    background-image: url(../album/11.jpeg);
    background-position: center;
    background-size: cover;
}

.A3{
    background-image: url(../album/10.jpeg);
    background-position: center;
    background-size: cover;
}

.A4{
    background-image: url(../album/9.jpeg);
    background-position: center;
    background-size: cover;
}

.A5{
    background-image: url(../album/8.jpeg);
    background-position: center;
    background-size: cover;
}

.A6{
    background-image: url(../album/7.jpeg);
    background-position: center;
    background-size: cover;
}

.A7{
    background-image: url(../album/6.jpeg);
    background-position: center;
    background-size: cover;
}

.A8{
    background-image: url(../album/5.jpeg);
    background-position: center;
    background-size: cover;
}

.A9{
    background-image: url(../album/4.jpeg);
    background-position: center;
    background-size: cover;
}

.A10{
    background-image: url(../album/3.jpeg);
    background-position: center;
    background-size: cover;
}

.A11{
    background-image: url(../album/2.jpeg);
    background-position: center;
    background-size: cover;
}

.A12{
    background-image: url(../album/1.jpeg);
    background-position: center;
    background-size: cover;
}

.overlay{
    width: 277px;
    height: 277px;
    margin-left: -12px;
    padding-right: 0;
    padding-top: 80px;
    opacity: 0;
}

.overlay:hover{
    cursor: pointer;
    opacity: 1;
}

.content:hover{
    width: 277px;
    height: 87px;
    background-color: rgba(0,0, 0, 0.5);
}

.icon{
    width: 60px;
    height: 60px;
    background-image: url(../assets/play_icon.svg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.content{
    width: 227px;
    height: 51px;
    color: white;
    padding-left: 15px;
    margin-top: 50px;
    float: left;
    font-size: medium;
    padding-top: 10px;
}

.sml-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../assets/heart_icon_smal.svg);
    background-position: center;
    background-size: cover;
    float: right;
    margin-top: -50px;
    margin-right: 20px;
}

.info1{
    width: 200px;
    height: 50;
    float: left;
    margin: 0 auto;
}

.about-btns{
    width: 800px;
    height: 50px;
    float: left;
    padding-top: 40px; 
    margin-bottom: 60px;
}

.about-btns ul{
    list-style: none;
}

.about-btn1{
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50px;
    font-weight: bolder;
    float: left;
    margin-right: 20px;
    background-image: url(../assets/email_icon.svg);
    background-position: center;
    background-size: cover;
}

.about-btn2{
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50px;
    font-weight: bolder;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../assets/phone_icon.svg);
    background-position: center;
    background-size: cover;
}

.Ptext{
    width: 150px;
    height: 50px;
    margin-left: 122px;
    padding-left: 0;
    margin-bottom: 30px;
    margin-top: 50px;
    color: white;
}

.col-5{
    width: 470px;
    height: 470px;
    margin-left: 122px;
    padding-left: 0;
    background-image: url(../assets/aboutimg.avif);
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 60px;
    text-align: center;
    padding-top: 150px;
    float: left;
}

.col-7{
    width: 720px;
    height: 500px;
    margin-left: 70px;
    float: left;
}

.play{
    width: 1196px;
    height: 80px;
    margin-left: 122px;
    margin-right: 122px;
    margin-top: 80px;
    border: 2px solid black;
}

form{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: rgb(0, 2, 30);
    padding: 30px;
    color: white;
}

.input-el{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 13px;
    border: none;
    border-radius: 20px;
}

select{
    width: 100% !important;
}

button{
    width: 225px;
    height: 50px;
    margin-top: 40px;
    border: none;
    border-radius: 25px;
    float: right;
    font-size: x-large;
    font-weight: bolder;
    background-color: aqua;
}

button:hover{
    background-color: rgb(97, 96, 96);
    color: white;
}

textarea{
    height: 100px !important;
}

.player-line{
    width: 85%;
    height: 100px;
    margin-top: 100px;
    margin-left: 122px;
    margin-right: 122px;
}

.line{
    width: 100%;
    height: 5px;
    background-color: darkgray;
}

.inner-line{
    width: 50%;
    height: 5px;
    background-color: aqua;
}

.marker{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: aqua;
    margin: 0 auto;
    margin-top: -12px;
}

.FMlogo{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    background-image: url(../assets/stream_small_logo_white.svg);
    background-position: center;
    background-size: cover;
}

.music{
    float: left;
    width: 700px;
    height: 70px;
}

.music ul{
    list-style: none;
}

.music li{
    float: left;
    height: 35px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    color: white;
    margin-right: 40px;
}

.active2{
    font-weight: bolder;
    border-bottom: 2px solid aqua;
}

.titles{
    float: left;
    width: 750px;
    height: 40px;
    margin-bottom: -30px;
}

.titles ul{
    list-style: none;
}

.titles li{
    float: left;
    height: 35px;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.hash1{
    margin-right: 15px;
}

.hash{
    width: 20px;
    height: 10px;
    margin-top: 17px;
    margin-right: 10px;
}

.St1{
    margin-right: 100px;
}

.St{
    width: 200px;
    height: 100px;
    margin-top: 5px;
    margin-left: 20px;
}

.ab1{
    margin-right: 135px;
}

.ab{
    width: 220px;
    margin-top: 15px;
    margin-left: 20px;
}

.dr{
    width: 150px;
    margin-top: 17px;
    float: left;
}

.opt-btn{
    cursor: pointer;
    width: 20px;
    height: 70px;
    border-radius: 50%;
    float: right;
}

.PList{
    float: left;
    width: 700px;
    height: 60px;
    padding-top: 40px;
}

.PList ul{
    list-style: none;
    border-bottom: 2px solid white;
}

.PList li{
    float: left;
    height: 50px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}

.Ftext{
    margin-left: 122px;
    color: white;
    margin-top: 50px;
    font-size: 18px;
    font-weight: bolder;
    float: left;
}

.social1{
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 122px;
    margin-left: 10px;
    margin-top: 35px;
}

.social2{
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    margin-top: 35px;
}

.social3{
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    margin-top: 35px;
}

.social4{
    width: 50px;
    height: 50px;
    float: right;
    margin-left: 10px;
    margin-top: 35px;
}

.AA{
    width: 90px;
    height: 90px;
    background-image: url(../album/Adele_-_21.png);
    background-position: center;
    background-size: cover;
    float: left;
    margin-right: 10px;
}
.E1{
    width: 250px;
    height: 60px;
    float: left;
    margin-left: 122px;
    font-size: 15px;
    color: white;
    margin-bottom: 50px;
}

.control-btns{
    width: 300px;
    height: 120px;
    margin: 0 auto;
}

.ctr-btn1{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../assets/previous_icon.svg);
    background-position: center;
    background-size: cover;
    float: left;
    margin-top: 30px;
}

.ctr-btn2{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../assets/pause_icon.svg);
    background-position: center;
    background-size: cover;
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -20px;
}

.ctr-btn3{
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../assets/next_icon.svg);
    background-position: center;
    background-size: cover;
    float: left;
    margin-top: -15px;
}

.time-op{
    height: 40px;
    float: right;
    color: white;
    margin-top: -80px;
}

.time-op ul{
    list-style: none;
}

.time-op li{
    width: 100px;
    height: 40px;
    float: left;
}

.opt-btn2{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: -20px;
    margin-top: -8px;
    float: left;
}